# Dependencies
/node_modules
/client/node_modules

# Secrets
/server/data/oauth_tokens.json
.env

# Build files
/client/build

# Database files
/server/data/*.db
/server/data/*.db-shm
/server/data/*.db-wal